* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-size: 0;
    // outline: 1px solid #f00;
}

.content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    img {
        transition: transform .5s ease;
        position: absolute;
        top: -200px;
        left: -200px;
    }
}

[class*=mask-] {
    width: 100%;
    height: 100%;
    background: rgb(228, 187, 93);
    position: absolute;
    top: 0;
    transition: right .8s cubic-bezier(0.9, 0, 0.1, 1);
}

[class*=-left] {
    right: 100%;
}

[class*=-right] {
    right: -100%;
}

.cover {
    right: 0;
}

.content:hover img {
    transform: scale(1.1);
    // box-shadow: 0px 0px 5px 5px rgba(136, 102, 102, 0.2);
}

.wrap {
    width: 100%;
    position: relative;
}

.big-img {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 80vh;
    div {
        position: relative;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        img {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            margin: auto;
        }
    }
    .folder {
        position: absolute;
        width: 10%;
        top: 0;
        bottom: 0;
        margin: auto 0;
        font-size: 64px;
        text-align: center;
        padding: auto;
        z-index: 3;
    }
}

table {
    position: absolute;
    width: 100%;
    height: 80vh;
    border-spacing: 0;
    td {
        position: relative;
        width: 12.5%;
        // background-color: #fff5ee;
        overflow: hidden;
        border-radius: 2px;
        background-color: #fff5ee;
    }
    tbody td:is([colspan='2']) {
        width: 25%;
    }
    tbody td:is([colspan='3']) {
        width: 37.5%;
    }
    .space {
        background-color: seashell;
    }
    // td:not([class='space']) {
    //     outline: 1px solid #333;
    // }
}

.highlevel {
    z-index: 4;
}

.slide-leave-active,
.slide-enter-active {
    transition: right 2s cubic-bezier(0.9, 0, 0.1, 1);
}

.slide-leave-from,
.slide-enter-to,
.lazy_slide-leave-from,
.lazy_slide-enter-to {
    right: -100%;
}

.slide-leave-to,
.slide-enter-from,
.lazy_slide-leave-to,
.lazy_slide-enter-from {
    right: 0%;
}

.lazy_slide-leave-active,
.lazy_slide-enter-active {
    transition: right .5s cubic-bezier(0.9, 0, 0.1, 1) 1s;
}